html {
    background-color: rgb(80, 192, 229);
    border: solid 8px limegreen;
    margin: 5%;
}

body {
    padding: 0 5%;
    color: white;
}

/* section {
    padding: 2%;
} */

header,
footer {
    text-align: center;
    padding: 5% 0%;
    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h2 {
    font-weight: bolder;
}

header > p {
    font-weight: bold;
    font-weight: 800;
}

span {
    color: black;
}

a {
    color: darkgreen;
}

a:hover {
    color: lightgreen;
    cursor: pointer;
}

img {
    max-height: 10%;
    width: 25%;
    padding: 0 5% 2.5%;
    display: inline-block;
    float: right;
}


